@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;   
}
body{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 208, 238);
}
.inner_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    width: 20%;
    padding: 20px;
}
.image{
    height: 90%;
    width: 100%;
    border-radius: 10px;
}
.text{
    font-size: medium;
    color: rgb(41, 40, 40);
    padding: 20px;
    text-align: center;
}
.scan{
    color: gray;
    font-size: 13px;
    text-align: center;
    padding: 10px;
}